{% extends 'case005/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<hr>
<h1>2019-11-18 Revision</a></h1>
<h1>Please Visit <br>
    <a href='http://tmc.jungle123.com'>http://tmc.jungle123.com</a></h1>

    <br>
<hr>
<br>
<h2>Check Results, up to meeting 2019-11-14</h2>
<h3>
    <ul style='font-family:  Courier, monospace;'>

        <li><a href='headcnt/'>Meeting Head Count</a>
        </li>
        <li><a href='rolecnt/'>Meeting Role Count</a>
        </li>

        <!-- <li>(2)<a href='s2/'>Member</a></li>
        <li>(3)<a href='s3/'>Meeting Roles</a></li>
        <li>(4)<a href='s4/'>Speaker & IE</a></li>
        <li>(5)<a href='best/'>Meeting Best</a></li> -->

    </ul>
</h3>


{% endblock %}